@import 'config';
@import 'elements';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

@for $i from 1 through 4 {

    h#{$i} {
        color: $heading-color;
    }
}

a {
    color: $link-color;
    text-decoration: none;
}

p {
    margin: 0.5rem;
}

img {
    width: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: $background-color;
    color: set-color($background-color);
}

.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

// SHOWCASE

.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background: url('../img/background.jpg') no-repeat center center/cover;
    z-index: 1;
    
    

    &::after {
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height:100%;
        background: rgba($background-color, .7);
        z-index: -1;
        box-shadow: inset 120px 100px 250px #000, inset -120px -100px 250px #000;
    }

    &-top {
        position: relative;
        height: 90px;

        img {
            width: 170px;
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        a {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
        }

    }

    &-content {
        position: relative;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 9rem;
        
        

        h1 {
            font-weight: 700;
            font-size: 5.2rem;
            line-height: 1.1;
            margin-bottom: 2rem;
        }

        p {
            text-transform: uppercase;
            color: #fff;
            font-weight: 400;
            font-size: 1.9rem;
            line-height: 1.25;
            margin-bottom: 2rem;
        }

    }

}

.table {

    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;

    thead th {
        text-transform: uppercase;
        padding: 0.8rem;
    }

    tbody tr:nth-child(odd) {
        background: #222;
    }

    tbody tr td {
        color: $text-grey;
        padding:0.8rem;
        text-align: center;

        &:first-child {
            text-align: left;
        }


    }
}

.footer {
    max-width: 70%;
    margin: 1rem auto;
    overflow: auto;
    color: #999;
    font-size: 0.9rem;

    a {
        color: #999;

        &:hover {
            color: #fff;
        }

    }

    p {
        margin-bottom: 1.5rem;
    }

    li {
        line-height: 1.9;
    }

    .footer-cols {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
    }

}

@import 'responsive';